.admin-view {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.admin-view h1 {
    text-align: center;
}

.admin-view input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.admin-view button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.admin-view button:hover {
    background-color: #0056b3;
}

.admin-view h2 {
    margin-top: 20px;
}

.admin-view ul {
    list-style-type: none;
    padding: 0;
}

.admin-view li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #dee2e6;
}

.mark-red {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

.mark-yellow {
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}

.mark-green {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}
.download-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.download-icon {
    width: 20px;
    height: 20px;
}
