.chatbot-container {
    width: 400px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.chatbot {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    background-size: cover;
    background-position: center;
    max-height: none; 
    overflow: visible; 
}

.messages-section {
    flex: 1; 
    max-height: 70vh;
    overflow-y: auto; 
}

.input-section {
    height: 8vh; 
}
.mascot-section {
    position: fixed;
    top: 20px; /* Ajusta según sea necesario */
    right: 20px; /* Ajusta según sea necesario */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}
.messages-section {
    overflow-y: hidden; 
  }
  






