
.mascot-message {
    background-color: #fff;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #dd0c0c;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #502929;
}

  