.notification-icon {
    position: relative;
    display: inline-block;
  }
  
  .notification-icon::after {
    content: url('multimedia/notificacion.png'); /* Ruta a la imagen de notificación */
    width: 15px;
    height: 15px;
    position: absolute;
    top: -5px;
    right: -10px;
  }